@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" );
body{
    margin: 0;
    padding: 0;
    font-family: 'lato','Poppins';
}
.container{
    max-width: 100%;
    max-height: 100vh;
    background-image: url(../Images/Backrond.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.frame-56{
    width: 529px;
    min-height: 663px;
    display: flex;
    margin: 181px 456px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 40px;
    gap: 37px;
    background-color: rgba(24, 26, 28, 0.84);

}
.logo{
    min-width: 163px;
    height: 44px;
}
.frame-63{
    max-width: 174px;
    height: 65px;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}
.masuk{
    width: 96px;
    height: 35px;
    font-family: 'Lato';
    font-weight: 700px;
    font-size: 32px;
    line-height: 35.2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.datang{
    min-width: 174px;
    min-height: 22px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.frame-52{
    width: 449px;
    min-height: 81px;
    gap: 6px;
    padding: 0;
    box-sizing: border-box;
}
.frame-50{
    min-width: 52px;
    min-height: 25px;
    padding: 0;
}
.username{
    width: 82px;
    height: 25px;
    font-family: 'Lato';
    font-weight: 500px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
}
.frame-47{
    max-width: 449px;
    max-height: 50px;
    border-radius: 24px;
    border: 1px solid;
    padding: 14px 20px;
    gap: 10px;
    border-color: rgba(231, 227, 252, 0.23);
}
.input-username{
    min-width: 148px;
    min-height: 22px;
    color: rgba(193, 194, 196, 1);
    background-color: transparent;
    border: none;
}
.input-username{
    outline: none;
    color: white;
}
.password{
    min-width: 449px;
    min-height: 112px;
    gap: 12px;
}
.frame-53{
    max-width: 449px;
    min-height: 78px;
    gap: 6px;
}
.frame-51{
    min-width: 86px;
    min-height: 25px;
    gap: 10px
}
.label-pass{
    width: 86px;
    height: 25px;
    font-family: 'Lato';
    font-weight: 500px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
}
.frame-49{
    max-width: 449px;
    max-height: 47px;
    border-radius: 24px;
    border: 1px solid;
    padding: 20px 14px;
    border-color: rgba(231, 227, 252, 0.23);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.input-sandi{
    min-width: 150px;
    min-height: 22px;
    color: rgba(193, 194, 196, 1);
    background-color: transparent;
    border: none;
}
.input-sandi{
    outline: none;
    color: white;
}
.btn{
    background-color: transparent;
    border: none;
    outline-color: none;
}
.frame-55{
    max-width: 449px;
    min-height: 22px;
    display: flex;
    justify-content: space-between;
}
.frame-54{
    min-width: 189px;
    height: 22px;
    font-family: 'Lato';
    font-weight: 400px;
    font-size: 16px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;   
}
.dftr{
    font-family: 'Lato';
    font-weight: 500px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white; 
}
.lupa-sandi{
    min-width: 119px;
    height: 22px;
    font-family: 'Lato';
    font-weight: 400px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white; 
}
.button{
    width: 449px;
    min-height: 133px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-sign{
    min-width: 449px;
    min-height: 50px;
    border-radius: 24px;
    border: 1px;
    padding: 14px 20px;
    gap: 10px;
    background-color: rgba(61, 65, 66, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sign{
    min-width: 449px;
    min-height: 50px;
    border-radius: 24px;
    border: solid 1px;
    border-color:  rgba(61, 65, 66, 1) ;
    padding: 14px 20px;
    gap: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.msk{
    width: 48px;
    height: 22px;
    font-family: 'Lato';
    font-weight: 600px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
}
.atau{
    font-family: 'Lato';
    font-weight: 500px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    color: rgba(157, 158, 161, 1);
}
.spn-google{
    font-family: 'Lato';
    font-weight: 600px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color:rgba(255, 255, 255, 1);
}
@media (max-width: 430px) {
    .container{
        /* background-image: url(../Images/Backrond.jpg); */
        min-width: 360px;
        min-height: 709px;
        padding: auto;
        margin: auto;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    .frame-56{
        max-width: 306px;
        min-height: 384px;
        display: flex;
        margin: 27px 172px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 24px;
        gap: 20px;
        background-color: rgba(24, 26, 28, 0.84);
    }
    .logo{
        width: 94px;
        height: 24px;
    }
    .frame-63{
        max-width: 111px;
        height: 43.62px;
        gap: 4.62px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
    }
    .masuk{
        width: 55px;
        height: 25px;
        font-family: 'Lato';
        font-weight: 700px;
        font-size: 18px;
        line-height: 25.2px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
    .datang{
        min-width: 111px;
        min-height: 14px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
    .frame-52{
        width: 258px;
        min-height: 45.47px;
        gap: 3.47px;
        padding: 0;
        box-sizing: border-box;
    }
    .frame-50{
        min-width: 46px;
        min-height: 14px;
        padding: 0;
    }
    .username{
        width: 46px;
        height: 14px;
        font-family: 'Lato';
        font-weight: 500px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white;
    }
    .frame-47{
        max-width: 260px;
        max-height: 28px;
        border-radius: 12px;
        border: 0.58px solid;
        padding: 8.9px 11.55px;
        gap: 5.78px;
        border-color: rgba(231, 227, 252, 0.23);
    }
    .input-username{
        min-width: 86px;
        min-height: 13px;
        color: rgba(193, 194, 196, 1);
        background-color: transparent;
        border: none;
    }
    .input-username{
        outline: none;
        color: white;
    }
    .password{
        min-width: 258px;
        min-height: 66.4px;
        gap: 6.93px;
    }
    .frame-53{
        max-width: 258px;
        min-height: 45.47px;
        gap: 3.47px;
    }
    .frame-51{
        min-width: 49px;
        min-height: 14px;
        gap: 6px
    }
    .label-pass{
        width: 49px;
        height: 14px;
        font-family: 'Lato';
        font-weight: 500px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white;
    }
    .frame-49{
        max-width: 260px;
        min-height: 28px;
        border-radius: 12px;
        border: 0.58px solid;
        padding: 8.09px 11.5px;
        border-color: rgba(231, 227, 252, 0.23);
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
    }
    .input-sandi{
        width: 87px;
        height: 13px;
        color: rgba(193, 194, 196, 1);
        background-color: transparent;
        border: none;
    }
    .input-sandi{
        outline: none;
        color: white;
    }
    .btn{
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: none;
        outline-color: none;
    }
    .frame-55{
        max-width: 258px;
        min-height: 14px;
        display: flex;
        justify-content: space-between;
    }
    .frame-54{
        min-width: 120px;
        height: 14px;
        font-family: 'Lato';
        font-weight: 400px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white;   
    }
    .dftr{
        font-family: 'Lato';
        font-weight: 500px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white; 
    }
    .lupa-sandi{
        min-width: 88.7px;
        height: 14px;
        font-family: 'Lato';
        font-weight: 400px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white; 
    }
    .button{
        width: 258px;
        min-height: 79.33px;
        gap: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn-sign{
        min-width: 258px;
        min-height: 30.17px;
        border-radius: 13.86px;
        border: 0.58px;
        padding: 8.09px 11.55px;
        gap: 5.78px;
        background-color: rgba(61, 65, 66, 1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .sign{
        min-width: 258px;
        min-height: 39.17px;
        border-radius: 13.86px;
        border: solid 0.58px;
        border-color:  rgba(61, 65, 66, 1) ;
        padding: 8.09px 11.55px;
        gap: 5.78px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .msk{
        width: 31px;
        height: 14px;
        font-family: 'Lato';
        font-weight: 600px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        text-align: center;
        color: white;
    }
    .atau{
        font-family: 'Lato';
        font-weight: 500px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color: rgba(157, 158, 161, 1);
    }
    .spn-google{
        font-family: 'Lato';
        font-weight: 600px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color:rgba(255, 255, 255, 1);
    }
}